{% macro Infobox(img,info_name,manufacturer,year,Engine_Type,EPA_Class,Body_Style,Transmission,Wheelbase_in,Length_Overall_in,Height_Overall_in,Base_Curb_Weight_lbs) %}
	{{'{{Infobox Automobile'}}
    {%- if img != "#" -%}
        |image = {{img}}
    {%- endif -%}
	|name =     {{info_name}}
    |manufacturer =  {{manufacturer}}
    |production = {{year}}
	{%- if Engine_Type != "#" and Engine_Type != "#" %}
	|engine ={{Engine_Type}}
	{%- endif %}
	{%- if EPA_Class != "#" and EPA_Class != "#" %}
	|class     =  {{EPA_Class}}
	{%- endif %}
	{%- if Body_Style != "#" and Body_Style != "#" %}
	|body_style     ={{Body_Style}}
	{%- endif %}
	{%- if Transmission != "#" and Transmission != "#" %}
	|transmission ={{Transmission}} 
	{%- endif %}
	{%- if Wheelbase_in != "#" and Wheelbase_in != "#" %}
	|wheelbase   =  {{Wheelbase_in}} అంగుళాలు
	{%- endif %}
	{%- if Length_Overall_in != "#" and Length_Overall_in != "nan" %}
	|length    ={{Length_Overall_in}} అంగుళాలు
	{%- endif %}
	{%- if Height_Overall_in != "#" and Height_Overall_in != "#" %}
	|height ={{Height_Overall_in}} అంగుళాలు
	{%- endif %}
	{%- if Base_Curb_Weight_lbs!= "#" and Base_Curb_Weight_lbs!= "#" %}
	|weight     = {{Base_Curb_Weight_lbs}} కిలోగ్రామ్స్ 
	{%- endif %}
	
	{{'}}\n'}}
{% endmacro -%}

{%- macro intro(introduction) -%}
    {%- set line = introduction+"\n" -%}
    {{-line-}}
{%- endmacro -%}

{%- macro eng_perf(airbags_len,airbags,Engine_Type,SAE_Net_Torque_RPM,Drivetrain,Drivetrain_Mileskm,Drivetrain_Years,displacement, nethorsepower, citymil, highmil,Transmission, gears, Traction_Control, fog_lamp, stability_control, curb_diam, Tire_Pressure_Monitor, Night_Vision, backup_cam, corrosion_years, Maximum_Alternator_Capacity_amps) -%}
    {{"==ఇంజిన్-పెర్ఫార్మన్స్==\n"}}
    {%- if Engine_Type!="#" and Engine_Type!="nan" %}
    {%- set line=[
            Name+"<ref>https://www.thecarconnection.com/</ref> కారులో "+Engine_Type+"<ref>https://telugu.cardekho.com/</ref> ఇంజిన్ ఉపయోగించారు. "
        ]|random
        -%}
        {{-line-}}
    {%- endif -%}

    {%- if SAE_Net_Torque_RPM!="#" and SAE_Net_Torque_RPM!="nan"%}
    {%- set line=[
            "ఈ ఇంజిన్ [[టార్క్]] సుమారుగా "+SAE_Net_Torque_RPM+" ఆర్.పి.ఎం. ఉంది. "
            
        ]|random
        -%}
        {{-line-}}
    {%- endif %}

    {%- if (citymil !="#" and citymil !="nan") or (highmil !="#" and highmil !="nan") -%}
        {{"\n"}}
        {%- set line="ఈ కారు మైలేజ్ సగటున ఈ క్రింద విధంగా ధృవీకరించబడినది:\n\n" -%}
        {{-line-}} 
        {%- if citymil !="#" and citymil !="nan" -%}
            {%- set line="* సిటీ మైలేజ్ : "+citymil+" కే.ఎం.పి.ఎల్.\n" -%}
            {{-line-}}
        {%- else -%}
            {{"\n"}}
        {%- endif %}

        {%- if highmil != "#" and highmil !="nan"-%}
            {%- set line="* హైవే మైలేజ్ : "+highmil+" కే.ఎం.పి.ఎల్.\n" -%}
            {{-line-}}
        {%- else -%}
            {{"\n"}}
        {%- endif %}
    {%- endif %}

    {%- if displacement !="#" and displacement !="nan" -%}
        {%- set line = "ఈ కారు ఇంజిన్ "+displacement+" సీసీ ఇంజిన్ డిస్ప్లేసెమెంట్ తో డిజైన్ చేయబడినది. " -%}
        {{-line-}}
    {%- endif %} 

    {%- if nethorsepower !="#" and nethorsepower !="nan" -%}
        {%- set line = "దీని నికర హార్స్ పవర్([[అశ్వ సామర్థ్యం]]) సుమారుగా "+nethorsepower+" ఆర్.పీ.ఎం. ఉంది.\n" -%}
        {{-line-}}
    {%- endif %} 

    {%- if Transmission !="#" and Transmission !="nan" -%}
        {%- set line = "కారు ట్రాన్స్మిషన్ టైపు "+Transmission+". " -%}
        {{-line-}}
    {%- endif %}

    {%- if gears !="#" and gears !="nan" -%}
        {%- set line = "ఈ కారు మొత్తం "+gears+" గేర్ల ఇంజిన్ తో డిజైన్ చేయబడినది.  " -%}
        {{-line-}}
    {%- endif %}

    {%- if Traction_Control =="Yes" -%}
        {%- set line = "రోడ్డు పరిస్థితులకు అనుగుణంగా త్రొట్టెల్(Throttle) ఇన్పుట్, ఇంజిన్ శక్తి, టార్క్ బదిలీ సరిపోనప్పుడు భద్రత కోసం ట్రాక్షన్ కంట్రోల్ సిస్టం సక్రియం(activate) అవుతుంది. " -%}
        {{-line-}}
    {%- endif %} 

    {%- if fog_lamp =="Yes" -%}
        {%- set line = "తక్కువ కాంతి పరిస్థితుల్లో రహదారిపై దృశ్యమానతను పెంచడానికి కారుకి ఫాగ్ లాంప్ ఉంది. " -%}
        {{-line-}}
    {%- endif %}

    {%- if stability_control =="Yes" -%}
        {%- set line = "రోడ్డు మీద కారు చక్రాల ట్రాక్షన్ నష్టాన్ని గుర్తించడం ఇంకా తగ్గించడం కోసం స్టెబిలిటీ కంట్రోల్ సిస్టం కలిగి ఉంది. దీని ద్వారా వాహనం స్థిరత్వాన్ని మెరుగుపరిచి స్కిడ్డింగ్ను(Skidding) తగ్గిస్తుంది. " -%}
        {{-line-}}
    {%- endif %}  

    {%- if Tire_Pressure_Monitor =="Yes" -%}
        {%- set line = "కారు టైర్లు గాలి పీడనం తరచూ పర్యవేక్షించడానికి టైర్-ప్రెషర్ మానిటర్(టిపిఎం) అనుసంధానమై ఉంది. " -%}
        {{-line-}} 
    {%-endif %}  

    {%- if Night_Vision =="Yes" %}
        {%- set line = "థెర్మో గ్రాఫిక్ కెమెరాల ద్వారా చీకటి లేదా సరికాని వాతావరణ సందర్భాలలో డ్రైవర్ అవగాహన, చూపు ని మెరుగుపరచడానికి నైట్ విషన్ సిస్టం అందుబాటులో ఉంది. " -%}
        {{-line-}}
    {%- endif %}  

    {%- if backup_cam =="Yes" -%}
        {%- set line = "కారు రివెర్సింగ్కి సహాయపడడానికి బ్యాక్ అప్ కెమెరా అనుసంధానమై ఉంది. " -%}
        {{-line-}}
    {%- endif %}  

    {%- if corrosion_years !="#" and corrosion_years !="nan" -%}
        {%- set line = "సగటున ఈ కారు తుప్పు(కరోషన్) పట్టడానికి పట్టే గడువు "+corrosion_years+" సంవత్సరాలు గా ధృవీకరించబడినది(ఇది ప్రయోగశాల లో పర్యవేక్షించిన సంఖ్య). " -%}
        {{-line-}} 
    {%- endif %}  
    {%- if Maximum_Alternator_Capacity_amps != "#" and Maximum_Alternator_Capacity_amps != "nan" -%}
        {%- set line = "కారు గల మాక్సిమమ్ ఆల్టర్నేటర్ కరెంట్ కెపాసిటీ "+Maximum_Alternator_Capacity_amps+" ఆంప్స్ గా ధృవీకరించబడింది. " -%}
        {{-line-}} 
    {%- endif %}

    {%- if (Air_BagFrontalDriver != "No" or Air_BagFrontalPassenger != "No" or Air_BagSide_BodyFront != "No" or Air_BagSide_BodyRear != "No" or Air_BagSide_HeadFront != "No" or Air_BagSide_HeadRear != "No") -%}
        {%- set line =[
            " ఈ కారులో "
            ]|random
            -%}
            {{-line-}}

        {%- for value in airbags -%}
            {%- if value!="No" and loop.index+1 != airbags_len -%}
                {%- set line =[
                    value+", "
                    ]|random
                    -%}
                {{-line-}}
            {%- elif value!="No" and loop.index+1 == airbags_len -%}
                {%- set line =[
                    value+" ఎయిర్ బ్యాగ్స్ ఉపయోగించారు. \n"
                    ]|random
                    -%}
                {{-line-}}
            {%- elif value=="No" and loop.index+1 == airbags_len -%}
                {%- set line =[
                    " ఎయిర్ బ్యాగ్స్ ఉపయోగించారు. \n"
                    ]|random
                    -%}
                {{-line-}}
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
    {%- if (Air_BagPassenger_Switch_OnOff == "Yes") %}
	{%- set line =[
        "ఈ కారులో ప్రయాణీకుల ఎయిర్‌బ్యాగ్‌లను ఆన్ లేదా ఆఫ్ చేసే సౌకర్యం ఉంది. \n"
		]|random
		-%}
		{{-line-}}
	{%- endif %}

{%- endmacro -%}
{%- macro Design(Drivetrain_Mileskm,Drivetrain_Years,Suspension_Type__Front,Suspension_Type__Rear,ext,int,tires,Body_Style,EPA_Class,Passenger_Doors,Fuel_System,Fuel_Tank_Capacity_Approx_gal,Drivetrain,Trans_Description_Cont,Transmission,Gears,Brake_Type,Brake_ABS_System,Disc__Front_Yes_or___,Disc__Rear_Yes_or___,fdiam,fthick,rdiam,rthick,Steering_Type,Wheelbase_in,Length_Overall_in,Width_Max_wo_mirrors_in,Height_Overall_in,Track_Width_Front_in,Track_Width_Rear_in,Passenger_Capacity,Passenger_Volume,Front_Head_Room_in,Front_Leg_Room_in,Front_Shoulder_Room_in,Front_Hip_Room_in,Second_Head_Room_in,Second_Leg_Room_in,Second_Hip_Room_in,Front_Wheel_Size_in,Front_Wheel_Material,Front_Tire_Size,Rear_Wheel_Size_in,Rear_Wheel_Material,Rear_Tire_Size,Spare_Wheel_Size_in,Spare_Wheel_Material,Spare_Tire_Size) -%}
	{{ "\n==కార్ డిజైన్==\n\n" }}

	{%- if (EPA_Class != "#" and EPA_Class != "nan") %}
	{%- set line =[
        "ఈ కారు "+EPA_Class+" తరగతికి చెందిన కారు. "
		]|random
		-%}
		{{-line-}}
	{%- endif %}

    {%- if (Body_Style != "#" and Body_Style != "nan") %}
	{%- set line =[
        Body_Style+" బాడీ స్టైల్తో ఈ కారును రూపొందించారు. "
		]|random
		-%}
		{{-line-}}
	{%- endif %}

	{%- if (Passenger_Doors != "#" and Passenger_Doors != "nan") %}
	{%- set line =[
        "దీనికి మొత్తం "+Passenger_Doors+" డోర్స్ ఉంటాయి. ",
        "ఇది ఒక "+Passenger_Doors+" డోర్స్ కార్. "
		]|random
		-%}
		{{-line-}}
	{%- endif %}
	{%- if (Fuel_System != "#" and Fuel_System != "nan") %}
	{%- set line =[
        "ఇందులో "+Fuel_System+" ఇంధన వ్యవస్థ ఉంది. "
		]|random
		-%}
		{{-line-}}
	{%- endif %}
	{%- if (Fuel_Tank_Capacity_Approx_gal != "#" and Fuel_Tank_Capacity_Approx_gal != "nan") %}
	{%- set line =[
        "దీని ఇంధన సామర్థ్యం సుమారుగా "+Fuel_Tank_Capacity_Approx_gal+" లీటర్లు ఉంది. "
		]|random
		-%}
		{{-line-}}
	{%- endif %}
	{%- if (Gears != "#" and Trans_Description_Cont != "#") -%}
	{%- set line =[
        "ఈ కారు మొత్తం "+Gears+" ఫార్వర్డ్ గేర్లతో "+Trans_Description_Cont+" ట్రాన్స్మిషన్ పద్దతితో వస్తుంది. "
		]|random
		-%}
		{{-line-}}
    {%- elif (Gears == "#" and Trans_Description_Cont != "#") -%}
	{%- set line =[
        "ఈ కారు "+Trans_Description_Cont+" ట్రాన్స్మిషన్ పద్దతితో వస్తుంది. "
		]|random
		-%}
		{{-line-}}
    {%- elif (Gears != "#" and Trans_Description_Cont != "#") -%}
	{%- set line =[
        "ఈ కారు మొత్తం "+Gears+" ఫార్వర్డ్ గేర్లతో వస్తుంది. "
		]|random
		-%}
		{{-line-}}
	{%- endif %}
	
	
	{%- if (Brake_Type != "#" and Brake_Type != "nan") %}
	{%- set line =[
        "కారులో ఉపయోగించిన బ్రేక్ సిస్టం "+Brake_Type+". "
		]|random
		-%}
		{{-line-}}
	{%- endif %}

	{%- if (Brake_ABS_System != "#" and Brake_ABS_System != "nan") %}
        {%- if (Disc__Front_Yes_or___ != "#" and Disc__Rear_Yes_or___!= "nan") %}
        {%- set line =[
            "ఇందులో "+Brake_ABS_System+" యాంటీ స్కిడ్ బ్రేకింగ్ సిస్టంతో పాటు అత్యవసర బ్రేకింగ్ కోసం ఫ్రంట్ డిస్క్ బ్రేక్, రియర్ డిస్క్ బ్రేక్ ఉపయోగించారు. "
            ]|random
            -%}
            {{-line-}}
        {%- elif (Disc__Front_Yes_or___ != "#" and Disc__Rear_Yes_or___== "nan") %}
        {%- set line =[
            "ఇందులో "+Brake_ABS_System+" యాంటీ స్కిడ్ బ్రేకింగ్ సిస్టంతో పాటు అత్యవసర బ్రేకింగ్ కోసం ఫ్రంట్ డిస్క్ బ్రేక్ ఉపయోగించారు. "
            ]|random
            -%}
            {{-line-}}
        {%- elif (Disc__Front_Yes_or___ == "#" and Disc__Rear_Yes_or___!= "nan") %}
        {%- set line =[
            "ఇందులో "+Brake_ABS_System+" యాంటీ స్కిడ్ బ్రేకింగ్ సిస్టంతో పాటు అత్యవసర బ్రేకింగ్ కోసం రియర్ డిస్క్ బ్రేక్ ఉపయోగించారు. "
            ]|random
            -%}
            {{-line-}}
        {%- endif -%}
    {%- else -%}
        {%- if (Disc__Front_Yes_or___ != "#" and Disc__Rear_Yes_or___!= "nan") %}
        {%- set line =[
            "అత్యవసర బ్రేకింగ్ కోసం ఈ కారులో ఫ్రంట్ డిస్క్ బ్రేక్, రియర్ డిస్క్ బ్రేక్ ఉపయోగించారు. "
            ]|random
            -%}
            {{-line-}}
        {%- elif (Disc__Front_Yes_or___ != "#" and Disc__Rear_Yes_or___== "nan") %}
        {%- set line =[
            "అత్యవసర బ్రేకింగ్ కోసం ఈ కారులో ఫ్రంట్ డిస్క్ బ్రేక్ ఉపయోగించారు. "
            ]|random
            -%}
            {{-line-}}
        {%- elif (Disc__Front_Yes_or___ == "#" and Disc__Rear_Yes_or___!= "nan") %}
        {%- set line =[
            "అత్యవసర బ్రేకింగ్ కోసం ఈ కారులో రియర్ డిస్క్ బ్రేక్ ఉపయోగించారు. "
            ]|random
            -%}
            {{-line-}}
        {%- endif %}
	{%- endif %}

    {%- if (fdiam != "" and fthick != "") %}
	{%- set line =[
        "ఈ కారు ఫ్రంట్ బ్రేక్ వ్యాసము(Diameter) "+fdiam+" అంగుళాలు ఉండగా, మందం "+fthick+" అంగుళాలు ఉంది. " 
		]|random
		-%}
		{{-line-}}
	{%- elif (fdiam == "" and fthick != "") %}
	{%- set line =[
        "ఈ కారు ఫ్రంట్ బ్రేక్ మందం "+fthick+" అంగుళాలు ఉంది. "
		]|random
		-%}
		{{-line-}}
	{%- elif (fdiam != "" and fthick == "") %}
	{%- set line =[
        "ఈ కారు ఫ్రంట్ బ్రేక్ వ్యాసము(Diameter) "+fdiam+" అంగుళాలు ఉంది. "
		]|random
		-%}
		{{-line-}}
	{%- endif %}

	{%- if (rdiam != "" and rthick != "") %}
	{%- set line =[
        "ఈ కారు రియర్ బ్రేక్ వ్యాసము(Diameter) "+rdiam+" అంగుళాలు ఉండగా, మందం "+rthick+" అంగుళాలు ఉంది. "
		]|random
		-%}
		{{-line-}}
	{%- elif (rdiam == "" and rthick != "") %}
	{%- set line =[
        "ఈ కారు రియర్ బ్రేక్ మందం "+rthick+" అంగుళాలు ఉంది. "
		]|random
		-%}
		{{-line-}}
	{%- elif (rdiam != "" and rthick == "") %}
	{%- set line =[
        "ఈ కారు రియర్ బ్రేక్ వ్యాసము(Diameter) "+rdiam+" అంగుళాలు ఉంది. "
		]|random
		-%}
		{{-line-}}
	{%- endif %}
    {%- if curb_diam !="#" and curb_diam !="nan" -%}
    {%- set line =[
        "కారు కర్బ్-టు-కర్బ్ వ్యాసం(Diameter) "+curb_diam+" ఫీట్. "
		]|random
		-%}
		{{-line-}}
	{%- endif %}
 
	{%- if (Steering_Type != "#" and Steering_Type != "nan") %}
	{%- set line =[
    	"దీనిలో ఉపయోగించిన స్టీరింగ్ రకం "+Steering_Type+". "
		]|random
		-%}
		{{-line-}}
	{%- endif %}

    {%- if Drivetrain!="#" and Drivetrain!="nan" %}
        {%- set line=[
                "కారు ముందుకి కదలడానికి ఉపయోగించే డ్రైవ్ ట్రైన్ సిస్టం "+Drivetrain+". "
            ]|random
            -%}
        {{-line-}}
    {%- endif %}
    {%- if Drivetrain_Mileskm!="#" and Drivetrain_Mileskm!="nan" %}
        {%- set line=[
                "దీని డ్రైవ్ ట్రైన్ డిస్టెన్స్(Distance) "+Drivetrain_Mileskm+" కిలోమీటర్లు ఉంది. "
            ]|random
            -%}
        {{-line-}}
    {%- endif %}

    {%-if Suspension_Type__Front!='#' and Suspension_Type__Rear!="#"-%}
        {%- set line =[
            "అవాంఛిత కుదుపులను(jerks) నివారించడానికి ఈ కారులో "+Suspension_Type__Front+" ఫ్రంట్ సస్పెన్షన్, "+Suspension_Type__Rear+" రియర్ సస్పెన్షన్ ఉపయోగించారు. "
            ]|random
                -%}
            {{-line-}}
        {%-elif Suspension_Type__Front!='#' and Suspension_Type__Rear=="#"-%}
        {%- set line =[
            "అవాంఛిత కుదుపులను(jerks) నివారించడానికి ఈ కారులో "+Suspension_Type__Front+" ఫ్రంట్ సస్పెన్షన్ ఉపయోగించారు. "
            ]|random
                -%}
            {{-line-}}
        {%-elif Suspension_Type__Front=='#' and Suspension_Type__Rear!="#"-%}
        {%- set line =[
            "అవాంఛిత కుదుపులను(jerks) నివారించడానికి ఈ కారులో "+Suspension_Type__Rear+" రియర్ సస్పెన్షన్ ఉపయోగించారు. "
            ]|random
                -%}
            {{-line-}}
    {%-endif%}

    {%- if ((Wheelbase_in != "#" and Wheelbase_in != "nan") or (Length_Overall_in != "#" and Length_Overall_in != "nan") or (Width_Max_wo_mirrors_in != "#" and Width_Max_wo_mirrors_in != "nan") or (Height_Overall_in != "#" and Height_Overall_in != "nan") or (Track_Width_Front_in != "#" and Track_Width_Front_in != "nan") or (Track_Width_Rear_in != "#" and Track_Width_Rear_in != "nan")) %}
        {%- set line =[
            "\n====కారు బాహ్య కొలతలు====\n"
            ]|random
            -%}
            {{-line-}}
        {{- '{| class="wikitable"' -}}
        {{- '\n' -}}
        {{- '! డైమెన్షన్ || వేల్యూ' -}}
        {{- '\n' -}}
        {{- '|-' -}}
        {{- '\n' -}} 
        {%- for key,value in ext.items() -%}
            {%- if key == "Wheelbase_in" and Wheelbase_in != "#" and Wheelbase_in != "nan" -%}
                {%- set line1 = "వీల్ బేస్" -%}
                {%- set line2 = value + " అంగుళాలు" -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}} 

            {%- elif key == "Length_Overall_in" and Length_Overall_in != "#" and Length_Overall_in != "nan" -%}
                {%- set line1 = "పొడవు" -%}
                {%- set line2 = value + " అంగుళాలు" -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}}

            {%- elif key == "Width_Max_wo_mirrors_in" and Width_Max_wo_mirrors_in != "#" and Width_Max_wo_mirrors_in != "nan"-%}
                {%- set line1 = "వెడల్పు(అద్దాలు లేకుండా)" -%}
                {%- set line2 = value + " అంగుళాలు" -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}}

            {%- elif key == "Height_Overall_in" and Height_Overall_in != "#" and Height_Overall_in != "nan" -%}
                {%- set line1 = "ఎత్తు" -%}
                {%- set line2 = value + " అంగుళాలు" -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}}

            {%- elif key == "Track_Width_Front_in" and Track_Width_Front_in != "#" and Track_Width_Front_in != "nan" -%}
                {%- set line1 = "ఫ్రంట్ ట్రాక్ వెడల్పు" -%}
                {%- set line2 = value + " అంగుళాలు" -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}}

            {%- elif key == "Track_Width_Rear_in" and Track_Width_Rear_in != "#" and Track_Width_Rear_in != "nan" -%}
                {%- set line1 = "రియర్ ట్రాక్ వెడల్పు" -%}
                {%- set line2 = value + " అంగుళాలు" -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}}
            {%- endif -%}
        {%- endfor -%}
        {{- '|}'-}}
        {{- '\n' -}} 
    {%- endif %}
	
	{%- if ((Passenger_Capacity != "#" and Passenger_Capacity != "nan") or (Passenger_Volume != "#" and Passenger_Volume != "nan") or (Front_Head_Room_in != "#" and Front_Head_Room_in != "nan") or (Front_Leg_Room_in != "#" and Front_Leg_Room_in != "nan") or (Front_Shoulder_Room_in != "#" and Front_Shoulder_Room_in != "nan") or (Front_Hip_Room_in != "#" and Front_Hip_Room_in != "nan") or (Second_Head_Room_in != "#" and Second_Head_Room_in != "nan") or (Second_Leg_Room_in != "#" and Second_Leg_Room_in != "nan") or (Second_Shoulder_Room_in != "#" and Second_Shoulder_Room_in != "nan") or (Second_Hip_Room_in != "#" and Second_Hip_Room_in != "nan")) %}
        {%- set line =[
            "====కారు అంతర్గత కొలతలు====\n"
            ]|random
            -%}
            {{-line-}}
        {{- '{| class="wikitable"' -}}
        {{- '\n' -}}
        {{- '! డైమెన్షన్ || వేల్యూ' -}}
        {{- '\n' -}}
        {{- '|-' -}}
        {{- '\n' -}} 
        {%- for key,value in int.items() -%}
            {%- if key == "Passenger_Capacity" and Passenger_Capacity != "#" and Passenger_Capacity != "nan" -%}
                {%- set line1 = "ప్రయాణీకుల సామర్థ్యం" -%}
                {%- set line2 = value -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}} 

            {%- elif key == "Passenger_Volume" and Passenger_Volume != "#" and Passenger_Volume != "nan" -%}
                {%- set line1 = "మొత్తం ప్రయాణీకుల వాల్యూమ్" -%}
                {%- set line2 = value+" క్యూబిక్ అడుగులు" -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}}

            {%- elif key == "Front_Head_Room_in" and Front_Head_Room_in != "#" and Front_Head_Room_in != "nan"-%}
                {%- set line1 = "ఫ్రంట్ హెడ్ రూమ్" -%}
                {%- set line2 = value + " అంగుళాలు" -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}}

            {%- elif key == "Front_Leg_Room_in" and Front_Leg_Room_in != "#" and Front_Leg_Room_in != "nan" -%}
                {%- set line1 = "ఫ్రంట్ లెగ్ రూమ్" -%}
                {%- set line2 = value + " అంగుళాలు" -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}}

            {%- elif key == "Front_Shoulder_Room_in" and Front_Shoulder_Room_in != "#" and Front_Shoulder_Room_in != "nan" -%}
                {%- set line1 = "ఫ్రంట్ షోల్డర్ రూమ్" -%}
                {%- set line2 = value + " అంగుళాలు" -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}}

            {%- elif key == "Front_Hip_Room_in" and Front_Hip_Room_in != "#" and Front_Hip_Room_in != "nan" -%}
                {%- set line1 = "ఫ్రంట్ హిప్ రూమ్" -%}
                {%- set line2 = value + " అంగుళాలు" -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}}

            {%- elif key == "Second_Head_Room_in" and Second_Head_Room_in != "#" and Second_Head_Room_in != "nan" -%}
                {%- set line1 = "సెకండ్ హెడ్ రూమ్" -%}
                {%- set line2 = value + " అంగుళాలు" -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}}

            {%- elif key == "Second_Leg_Room_in" and Second_Leg_Room_in != "#" and Second_Leg_Room_in != "nan" -%}
                {%- set line1 = "సెకండ్ లెగ్ రూమ్" -%}
                {%- set line2 = value + " అంగుళాలు" -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}}

            {%- elif key == "Second_Shoulder_Room_in" and Second_Shoulder_Room_in != "#" and Second_Shoulder_Room_in != "nan" -%}
                {%- set line1 = "సెకండ్ షోల్డర్ రూమ్" -%}
                {%- set line2 = value + " అంగుళాలు" -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}}

            {%- elif key == "Second_Hip_Room_in" and Second_Hip_Room_in != "#" and Second_Hip_Room_in != "nan" -%}
                {%- set line1 = "బ్యాక్ ట్రాక్ వెడల్పు" -%}
                {%- set line2 = value + " అంగుళాలు" -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}}
            
            {%- endif -%}
        {%- endfor -%}
        {{- '|}'-}}
        {{- '\n' -}}
    {%- endif -%}
    {%- if ((Front_Wheel_Size_in != "#" and Front_Wheel_Size_in != "nan") or (Front_Wheel_Material != "#" and Front_Wheel_Material != "nan") or (Front_Tire_Size != "#" and Front_Tire_Size != "nan") or (Rear_Wheel_Size_in != "#" and Rear_Wheel_Size_in != "nan") or (Rear_Wheel_Material != "#" and Rear_Wheel_Material != "nan") or (Rear_Tire_Size != "#" and Rear_Tire_Size != "nan") or (Spare_Wheel_Size_in != "#" and Spare_Wheel_Size_in != "nan") or (Spare_Wheel_Material != "#" and Spare_Wheel_Material != "nan") or (Spare_Tire_Size != "#" and Spare_Tire_Size != "nan")) %}
        {%- set line =[
            "====చక్రాలు, టైర్లు====\n"
            ]|random
            -%}
            {{-line-}}
        {{- '{| class="wikitable"' -}}
        {{- '\n' -}}
        {{- '! డైమెన్షన్ || వేల్యూ' -}}
        {{- '\n' -}}
        {{- '|-' -}}
        {{- '\n' -}} 
        {%- for key,value in tires.items() -%}
            {%- if key == "Front_Wheel_Size_in" and Front_Wheel_Size_in != "#" and Front_Wheel_Size_in != "nan" -%}
                {%- set line1 = "ఫ్రంట్ చక్రాల పరిమాణం" -%}
                {%- set line2 = value + " అంగుళాలు" -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}} 

            {%- elif key == "Front_Wheel_Material" and Front_Wheel_Material != "#" and Front_Wheel_Material != "nan" -%}
                {%- set line1 = "ఫ్రంట్ చక్రాల పదార్థం" -%}
                {%- set line2 = value -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}}

            {%- elif key == "Front_Tire_Size" and Front_Tire_Size != "#" and Front_Tire_Size!="nan"-%}
                {%- set line1 = "ఫ్రంట్ టైర్ పరిమాణం" -%}
                {%- set line2 = value -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}}

            {%- elif key == "Rear_Wheel_Size_in" and Rear_Wheel_Size_in != "#" and Rear_Wheel_Size_in != "nan" -%}
                {%- set line1 = "రియర్ చక్రాల పరిమాణం" -%}
                {%- set line2 = value + " అంగుళాలు" -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}}

            {%- elif key == "Rear_Wheel_Material" and Rear_Wheel_Material != "#" and Rear_Wheel_Material != "nan" -%}
                {%- set line1 = "రియర్ చక్రాల పదార్థం" -%}
                {%- set line2 = value -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}}

            {%- elif key == "Rear_Tire_Size" and Rear_Tire_Size != "#" and Rear_Tire_Size != "nan" -%}
                {%- set line1 = "రియర్ టైర్ పరిమాణం" -%}
                {%- set line2 = value -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}}

            {%- elif key == "Spare_Wheel_Size_in" and Spare_Wheel_Size_in != "#" and Spare_Wheel_Size_in != "nan" -%}
                {%- set line1 = "విడి చక్రాల పరిమాణం" -%}
                {%- set line2 = value -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}}

            {%- elif key == "Spare_Wheel_Material" and Spare_Wheel_Material != "#" and Spare_Wheel_Material != "nan" -%}
                {%- set line1 = "విడి చక్రాల పదార్థం" -%}
                {%- set line2 = value -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}}

            {%- elif key == "Spare_Tire_Size" and Spare_Tire_Size != "#" and Spare_Tire_Size != "nan" -%}
                {%- set line1 = "విడి టైర్ పరిమాణం" -%}
                {%- set line2 = value -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}}

            {%- endif -%}
        {%- endfor -%}
        {{- '|}'-}}
        {{- '\n' -}}
    {%- endif -%}

{%- endmacro -%}


{%- macro other_info(gear_ratios,first_gear_ratio, second_gear_ratio, third_gear_ratio, fourth_gear_ratio, fifth_gear_ratio, reverse_ratio) -%}
    {{"\n==ఇతర వివరాలు==\n"}}
    {%- if ((first_gear_ratio !="#" and first_gear_ratio !="nan") or (second_gear_ratio !="#" and second_gear_ratio !="nan") or (third_gear_ratio !="#" and third_gear_ratio !="nan") or (fourth_gear_ratio !="#" and fourth_gear_ratio !="nan") or (fifth_gear_ratio !="#" and fifth_gear_ratio !="nan") or (reverse_ratio !="#" and reverse_ratio !="nan")) -%}
    {%- set line = "కార్ గేర్ నిష్పత్తులు(Ratio) ఈ క్రింది విధంగా ఉన్నాయి:\n\n" -%}
    {{-line-}}
    {{- '{| class="wikitable"' -}}
        {{- '\n' -}}
        {{- '! గేరు || నిష్పత్తి' -}}
        {{- '\n' -}}
        {{- '|-' -}}
        {{- '\n' -}} 
        {%- for key,value in gear_ratios.items() -%}
            {%- if key == "first_gear_ratio" and first_gear_ratio !="#" and first_gear_ratio !="nan" -%}
                {%- set line1 = "మొదటి గేర్ నిష్పత్తి" -%}
                {%- set line2 = value -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}} 

            {%- elif key == "second_gear_ratio" and second_gear_ratio !="#" and second_gear_ratio !="nan" -%}
                {%- set line1 = "రెండవ గేర్ నిష్పత్తి" -%}
                {%- set line2 = value -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}}

            {%- elif key == "third_gear_ratio" and third_gear_ratio !="#" and third_gear_ratio !="nan" -%}
                {%- set line1 = "మూడవ గేర్ నిష్పత్తి" -%}
                {%- set line2 = value -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}}

            {%- elif key == "fourth_gear_ratio" and fourth_gear_ratio !="#" and fourth_gear_ratio !="nan" -%}
                {%- set line1 = "నాలుగవ గేర్ నిష్పత్తి" -%}
                {%- set line2 = value -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}}

            {%- elif key == "fifth_gear_ratio" and fifth_gear_ratio !="#" and fifth_gear_ratio !="nan" -%}
                {%- set line1 = "అయిదవ గేర్ నిష్పత్తి" -%}
                {%- set line2 = value -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}}

            {%- elif key == "reverse_ratio" and reverse_ratio !="#" and reverse_ratio !="nan" -%}
                {%- set line1 = "రివర్స్ గేర్ నిష్పత్తి" -%}
                {%- set line2 = value -%}
                {{- "| {} || {}".format(line1,line2) -}}
                {{- '\n' -}}
                {{- "|-" -}}
                {{- '\n' -}}
            {%- endif -%}
        {%- endfor -%}
        {{- '|}'-}}
        {{- '\n' -}}
    {%- endif -%}
{%- endmacro -%}

{%- macro versions(ver,name1,Name,len) -%}
    {%- for key, value in vers.items() -%}
        {%- if key == name1 -%}
            {%- if len > 1 -%}
                {{"\n==సంబంధిత మోడల్స్==\n"}}
                {%- for i in value -%}
                    {%- set line=key +" "+ i-%}
                    {%- if line == Name -%}
                        {%- set line="#" -%}
                        {{-line-}}
                    {%- else -%}
                        {%- set line="*[["+key +"("+ i+")]]\n"-%}
                        {{ line }}
                    {%- endif -%}
                {%- endfor -%}
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
{%- endmacro -%}

{%- macro references() -%}
    {{"\n==మూలాలు==\n"}}
    {%- set line = "{{reflist}}\n" -%}
    {{-line-}}
{%- endmacro -%}

{%- macro categories(manufacturer) -%}
    {%- set line = "[[వర్గం:మోటారు వాహనాలు]]\n" -%}
    {{-line-}}
    {%- set line = "[[వర్గం:వాహనాలు]]\n" -%}
    {{-line-}}
    {%- set line = "[[వర్గం:"+manufacturer+" వాహనాలు]]\n" -%}
    {{-line-}}
    {%- set line = "[[వర్గం:తెవికీ వాహనాలు]]\n" -%}
    {{-line-}}
{%- endmacro -%}

{{- Infobox(img,info_name,manufacturer,year,Engine_Type,EPA_Class,Body_Style,Transmission,Wheelbase_in,Length_Overall_in,Height_Overall_in,Base_Curb_Weight_lbs) -}}
{{- intro(introduction) -}}
{{- eng_perf(airbags_len,airbags,Engine_Type,SAE_Net_Torque_RPM,Drivetrain,Drivetrain_Mileskm,Drivetrain_Years,displacement, nethorsepower, citymil, highmil,Transmission, gears, Traction_Control, fog_lamp, stability_control, curb_diam, Tire_Pressure_Monitor, Night_Vision, backup_cam, corrosion_years, Maximum_Alternator_Capacity_amps) -}}
{{- Design(Drivetrain_Mileskm,Drivetrain_Years,Suspension_Type__Front,Suspension_Type__Rear,ext,int,tires,Body_Style,EPA_Class,Passenger_Doors,Fuel_System,Fuel_Tank_Capacity_Approx_gal,Drivetrain,Trans_Description_Cont,Transmission,Gears,Brake_Type,Brake_ABS_System,Disc__Front_Yes_or___,Disc__Rear_Yes_or___,fdiam,fthick,rdiam,rthick,Steering_Type,Wheelbase_in,Length_Overall_in,Width_Max_wo_mirrors_in,Height_Overall_in,Track_Width_Front_in,Track_Width_Rear_in,Passenger_Capacity,Passenger_Volume,Front_Head_Room_in,Front_Leg_Room_in,Front_Shoulder_Room_in,Front_Hip_Room_in,Second_Head_Room_in,Second_Leg_Room_in,Second_Hip_Room_in,Front_Wheel_Size_in,Front_Wheel_Material,Front_Tire_Size,Rear_Wheel_Size_in,Rear_Wheel_Material,Rear_Tire_Size,Spare_Wheel_Size_in,Spare_Wheel_Material,Spare_Tire_Size) -}}
{{- other_info(gear_ratios,first_gear_ratio, second_gear_ratio, third_gear_ratio, fourth_gear_ratio, fifth_gear_ratio, reverse_ratio) -}}
{{- versions(vers,name1,Name,len) -}}
{{- references() -}}
{{- categories(manufacturer) -}}






